<table style="border:none;padding:5px">
  <tbody>
    <tr>
      <td>
      <div style="font-size:12px;line-height:20px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color: #222;margin-bottom: 20px">

        <div style="border: #0000 solid 1px">
          <div style="border: black solid 1px;">
            <div style="margin: 30px; color: black">
              <p>
                Hi {{ receiver_name }},
                <br />
              </p>
              <p>
                I’m Alex, and would like to help you start using Jupo for your teamwork.
              </p>
              <p>
                It’s been a long time since the last time you used Jupo. Maybe you were busy or didn’t know where to start.
              </p>
              <p>
                Here are some ways to get started:
              </p>
              <p>
                <ul>
                  <li>
                    <a href="http://{{ domain }}/">Invite Others </a> from your organization. They can help answer your questions, brainstorm new ideas, and give feedback on your projects.
                  </li>
                  <li>
                    <a href="http://{{ domain }}/messages">Start a conversation</a> Let others know what you are working on to share ideas and get feedback.
                  </li>
                </ul>
              </p>
              <p>
                If you have any questions, email me at alex@jupo.com. I’m here to help.
              </p>
              <p>
                Best,
                Alex
              </p>
            </div>
          </div>
        </div>
      </div></td>
    </tr>

    <tr>
      <td style="padding:7px 0 0;border-top:1px solid #eaeaea">
      <div style="font-size:10px;color:#999;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 14px;">

        <p style="margin: 3px 0">
          This email was sent by <a href="http://{{ domain }}/" style="text-decoration: none;color: #999">Jupo</a>. <a href="http://{{ domain }}/" style="text-decoration: none;color: #999">Jupo</a> keeps your discussions, files, notes and team together.
        </p>
        <p style="margin: 3px 0">
          If you have any questions or suggestions for us, please don't hesitate to <a href="mailto:hi@jupo.comm" style="text-decoration: none;color: #999">reply</a> directly to this mail, we'd love to hear about it.
        </p>

      </div></td>
    </tr>
  </tbody>
</table>